
.background-homepage{
  height: 100svh;             
  width: 100%;  
  margin: 0;
  overflow: auto;
  position: relative;
}

.background-homepage img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills container like background-cover */
  z-index: -1; 
  image-rendering: pixelated;
}

.login-box{
  background-color: white;
  width: 27%;
  margin: 11% auto 20% auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;

}

.login-box h1{
  color: #B72883;
  font-size: 25px;
}

.login-box p{
  color: #aaa;
  margin: 10px 0 25px 0;
  font-size: 18px;
}


.login-box button{
  width: 100%;
  padding: 10px;
  background-color: #B72883;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 20px;
  
}

.input group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group p{
  color: #6e6d6d;
  font-size: 14px;
  margin: 0 0 5px 0;
  font-family: Arial, sans-serif;
  text-align: left;
}

input::placeholder {
  color: #ccc;
}

.input-group input{
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid #eea5ca;
  border-radius: 5px;
}


.home-tittle p{
  color: #fa91bd;
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 25%;
}

.home-tittle h2{
  font-size: 25px;
  color: #fa91bd;
  margin-top: 100px;
  margin-left: 34%;
}

.home-tittle button{
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 12px 25px;
  border: 2px solid #eea5ca;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;       
  flex-direction: column;
  width: 40%;
  margin-bottom: 20px;
  margin-left: 22%;
  font-weight: bold;
}

.button-subtext{
  font-size: 15px;
  margin-top: 5px;
  color: #555;
  font-weight: normal;

}

@media (max-width:480px) {

  .login-box{
  width: 70%;
  padding: 30px;
  text-align: center;
  margin: 0 auto; 
  margin-top: 1.6px;
}

}