body {
  margin: 0;
  padding: 0;
}

.mood-tracker {
  font-family: 'Pixelify Sans', sans-serif;
  background:linear-gradient(90deg,#ffdaf8, #ffe6f7, #ffdaf8);
  object-fit:cover;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mood-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 1px;
  text-align: center;
  color: #B72883;
}

.mood-subtitle {
  margin-top:0.5%;
  font-size: 18px;
  color: #555;
}

.mood-instruction {
  font-size: 30px;
  color: #f95caf;
  margin: 10px 0 20px 0;
  text-align: center;
}

.mood-emoji {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.mood-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  justify-items: center;
}

.mood-items.selected {
  background-color: #ffb9e8;
}

.mood-items.selected p {
  color: black;
}

.mood-items img {
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.2s;
}

.mood-items p {
  margin-top: 10px;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 35px;
  text-align: center;
  color:black;
}

.mood-input {
  width: 90%;
  max-width: 400px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ff72c2;
  font-size: 16px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 3%;
}

.mood-submit {
  background-color: #e26ab6;
  color: white;
  font-size: 18px;
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.moment-submit {
  background-color: #e26ab6;
  color: white;
  font-size: 18px;
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #e26ab6 !important;
  color: white;
  font-size: 16px ;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/*Checklist*/

.checklist-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #FF69B4;
  flex: 1 1 100%;
  font-size: 20px;
  flex: initial;
  padding: initial;
  white-space: normal;
}

.checklist-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  margin: 0 auto;
  column-gap: 100px;
}

.checklist-item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #B72883;
  margin-right: 6px;
}

.mood-check {
  font-size: 10px;
  color: #FF70BD;
  margin: 10px 0 20px 0;
  text-align: center;
}

/* History */
.history-page {
  font-family: 'Pixelify Sans', sans-serif;
  padding: 20px;
  background:linear-gradient(90deg,#f6a1ef, #ffcef0, #ffc7f5);
  min-height: 100vh;
}

.history-title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #B72883;
}

.entries-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.entry-card {
  background-color: #ffeefd;
  border-radius: 12px;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.entry-card h2 {
  margin: 0 0 10px 0;
  color: black;
}

.entry-card p {
  margin: 5px 0;
  color: #FF70BD;
}

.back-home-button {
  background-color: #e26ab6;
  color: white;
  font-size: 18px;
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  bottom: 5%;
  position: fixed;
  left:50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.history-link {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #B72883;
  cursor: pointer;
  text-decoration: underline;
}

.homepage-link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: #B72883;
  cursor: pointer;
  text-decoration: underline;
}

/* Overlap Notification Mobile */
.overlap-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlap-box {
  background: #090557;
  padding: 25px;
  border-radius: 16px;
  width: 80%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.overlap-img {
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
}

.overlap-title {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}

.overlap-message {
  font-size: 18px;
  color: #ffffff;
  margin: 0;
}

.home-button {
  background-color: gray;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 480px) {
  .mood-title {
    font-size: 30px;
    margin-top: 50px;
  }

  .mood-instruction {
    font-size: 18px;
  }

  .back-button {
    font-size: 10px;
    padding: 4px 8px;
  }

  .checklist-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    column-gap: 8px;
  }

  .checklist-item {
    font-size: 5vw;
    padding: 4px 8px;
    white-space: nowrap;
  }
}



